body{
    background-image: url(../img/Fcx7LA.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
#contenedor{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#contenedor2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#pri{
    margin: auto;
}
